@use "../abstract" as *;
@use "../base" as *;
@use "sass:math";

.popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--popup-overlay);
	pointer-events: none;
	z-index: 20;
}

.popup__wrapper {
	// position: relative;
}

.popup__form {
	gap: rem(35);

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	// width: max(80%, calc(100% - 100px));
	width: 80%;
	max-width: rem(400);
	// height: rem(500);
	padding: 40px 20px;
	background-color: var(--neutral100);
	z-index: 20;

	@include mqm($tablet) {
		max-width: revert;
		padding: rem(70);
		width: rem(500);
	}
}

// .form {
// 	display: flex;
// 	flex-direction: column;
// 	// align-items: center;
// }

.popup__close {
}

.popup__title {
	font-weight: 500;
	// font-size: rem(25);
	@include adaptive-font(16, 25);
	line-height: math.div(24, 16);
	text-align: center;
}

.popup__inputs {
	display: flex;
	flex-direction: column;
	gap: rem(35);
}

.popup__input-item {
}

.popup__input {
}

.popup__button {
	line-height: 1;

	@include mqm($tablet) {
		line-height: 1.5;
	}
}
