@use "../abstract" as *;
@use "../base" as *;
@use "sass:math";

.contacts__container {
	display: flex;
	flex-direction: column;
	gap: rem(30);

	@include mqm($tablet) {
		gap: rem(130);
	}
}

.contacts__info {
	font-weight: 500;
	font-size: rem(17);
	line-height: math.div(24, 16);
}

.contacts__map-wrapper {
	min-height: rem(475);
	background-color: grey;
}

.contacts__info-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: rem(18);

	@include mqm(600) {
		flex-direction: row;
	}

	@include mqm($tablet) {
		gap: rem(100);
	}
}

.contacts__info-item-title {
	margin-bottom: rem(12);

	@include mqm($tablet) {
		margin-bottom: rem(20);
	}
}

.contacts__form {
	max-width: rem(450);
}

.contacts__form-proccess-msg {
	display: flex;
	justify-content: center;
	padding-block: rem(30);
	margin-top: rem(62);
	text-align: center;
	background-color: var(--secondary300);
}
