@use "abstract" as *;
@use "base" as *;
@use "sass:math";

.header {
	background-color: red;
	position: fixed;
	// position: sticky;
	width: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	box-shadow: 0 0px 20px rgb(194, 194, 194);
}

.menu-button {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	z-index: 5;
	min-width: rem(25);
	height: rem(20);
	background-color: transparent;
	cursor: pointer;

	@include mqm($pc) {
		display: none;
	}

	&__icon,
	&::after,
	&::before {
		display: block;
		height: rem(3);
		width: 100%;
		transition: all 300ms ease 0ms;
		background-color: red;
	}

	&::after,
	&::before {
		content: "";
	}

	&::before {
		transform-origin: 0% 0%;
	}

	&::after {
		transform-origin: 0% 100%;
	}

	&--active &__icon {
		transform: scale(0) translate(0, 50%);
	}

	&--active::before {
		transform: rotate(45deg);
	}

	&--active::after {
		transform: rotate(-45deg);
	}
}

.menu__body {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: rem(16);
	position: absolute;
	top: 100%;
	left: 0;
	transform: translateX(150%);
	width: 100%;
	height: 100vh;
	padding: rem(55) rem(20) rem(156);
	overflow: auto;
	visibility: hidden;
	background-color: var(--bg-color);
	transition: transform 300ms ease-in-out 0ms, visibility 300ms ease-in-out 0ms;
	z-index: 10;

	&--active {
		transform: translateX(0);
		visibility: visible;
	}

	@include mqm($pc) {
		background-color: transparent;
		flex-direction: row;
		position: revert;
		transform: revert;
		height: auto;
		padding: 0;
		overflow: hidden;
		visibility: revert;
	}
}
