@use "../abstract" as *;
@use "../base" as *;
@use "sass:math";

.important__benefits {
	display: grid;
	gap: rem(15);

	@include mqm($tablet) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@include mqm($pc) {
		gap: rem(75);
	}
}

.important__benefit {
	font-weight: 500;
	padding-bottom: rem(25);
}

.important__benefit-img-wrapper {
	max-width: rem(60);
	max-height: rem(60);
}

.important__benefit-title {
	margin-top: rem(38);
	margin-bottom: rem(24);
	font-size: rem(25);
}

.important__benefit-text {
	font-size: rem(17);
	line-height: math.div(24, 16);
}
