@use "sass:math";
@use "_variables.scss" as *;
@use "_functions.scss" as *;

/// https://www.smashingmagazine.com/2016/05/fluid-typography/#controlling-the-rate-of-scale
@mixin adaptive-font(
	$mobileFontSize,
	$pcFontSize,
	$maxWidthStopGrowth: $maxWidthContainer
) {
	$fMin: rem($mobileFontSize);
	$fMax: rem($pcFontSize);
	$minW: rem($minWidth);
	$maxW: rem($maxWidthStopGrowth);
	font-size: $fMin;
	@media screen and (min-width: em($minWidth)) {
		font-size: calc(
			#{$fMin} + #{stripUnits($fMax - $fMin)} *
				((100vw - #{$minWidth + px}) / #{stripUnits($maxW - $minW)})
		);
	}
	@media screen and (min-width: em($maxWidthStopGrowth)) {
		font-size: $fMax;
	}
}

@mixin adaptive-value-px(
	$property,
	$minSize,
	$maxSize,
	$type,
	$maxWidthStopGrowth: $maxWidthContainer,
	$minWidthStopShrink: $minWidth
) {
	$addSize: $maxSize - $minSize;
	@if $type == 1 {
		#{$property}: $maxSize + px;
		@media screen and (max-width: #{$maxWidthStopGrowth + px}) {
			#{$property}: calc(
				#{$minSize + px} + #{$addSize} *
					(
						(100vw - #{$minWidthStopShrink + px}) / #{$maxWidthStopGrowth -
							$minWidthStopShrink}
					)
			);
		}
	} @else if $type == 2 {
		#{$property}: $maxSize + px;
		@media screen and (min-width: #{$maxWidthStopGrowth + px}) {
			#{$property}: calc(
				#{$minSize + px} + #{$addSize} *
					(
						(100vw - #{$minWidthStopShrink + px}) / #{$maxWidth -
							$minWidthStopShrink}
					)
			);
		}
	} @else {
		#{$property}: calc(
			#{$minSize +
				px} +
				#{$addSize} *
				(
					(100vw - #{$minWidthStopShrink + px}) /
						#{$maxWidth -
						$minWidthStopShrink}
				)
		);
	}
}

@mixin adaptive-value(
	$property,
	$minSize,
	$maxSize,
	$type,
	$maxWidthStopGrowth: $maxWidthContainer,
	$minWidthStopShrink: $minWidth,
	$measure: rem
) {
	@if ($measure == "em") {
		$maxSize: em($maxSize);
		$minSize: em($minSize);
	} @else if ($measure == "rem") {
		$maxSize: rem($maxSize);
		$minSize: rem($minSize);
	} @else {
		$maxSize: stripUnits($maxSize);
		$minSize: stripUnits($minSize);
	}
	$addSize: $maxSize - $minSize;
	@if $type == 1 {
		#{$property}: $maxSize;

		@media screen and (max-width: em($maxWidthStopGrowth)) {
			#{$property}: calc(
				#{$minSize} + #{stripUnits($addSize)} *
					(
						(100vw - #{$minWidthStopShrink + px}) / #{stripUnits(
								em($maxWidthStopGrowth - $minWidthStopShrink)
							)}
					)
			);
		}
	} @else if $type == 2 {
		#{$property}: $maxSize;
		@media screen and (min-width: em($maxWidthStopGrowth)) {
			#{$property}: calc(
				#{$minSize} + #{stripUnits($addSize)} *
					(
						(100vw - #{$minWidthStopShrink + px}) / #{stripUnits(
								em($maxWidth - $minWidthStopShrink)
							)}
					)
			);
		}
	} @else {
		#{$property}: calc(
			#{$minSize} +
				#{stripUnits($addSize)} *
				(
					(100vw - #{$minWidthStopShrink + px}) /
						#{stripUnits(em($maxWidth - $minWidthStopShrink))}
				)
		);
	}
}

@mixin mqd($bp) {
	$w: em($bp);
	@media screen and (max-width: $w) {
		@content;
	}
}

@mixin mqm($bp) {
	$w: em($bp);
	@media screen and (min-width: $w) {
		@content;
	}
}
