$maxWidth: 1920;
$minWidth: 375;
$widthContainer: 1110;
$maxWidthContainer: 1110;
$baseFontSize: 16;

$mobile: 375;
$mobile-m: 425;
$tablet: 768;
$pc: 900;
$pc-m: 1240;

$defaultTransition: 500ms ease;
$buttonTransition: 500ms ease;
$buttonDelay: 0;
$linkTransition: 500ms ease;
$linkDelay: 0;

$dropdownTransition: 280ms opacity 120ms ease-out,
	280ms transform 120ms ease-out, 280ms visibility 120ms ease-out, 500ms color,
	500ms background-color;
